*, *::before, *::after {

  box-sizing: border-box;
  user-select: none;
}

@font-face {
  font-family: 'kemko';
  src: url("finalgame/kemko.ttf");
}

body {
  background-image: url("finalgame/exportedGraphics/SVG/Asset\ 1.svg");
  background-repeat: repeat-x;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: min-content;
}

.world {  
  overflow: hidden;
  position: relative;
  height: 100vw;
}

.text {
  position: fixed;
  text-shadow: 5px 5px black ;
  font-family: 'kemko';
  font-size: 80px;
  position: absolute;
  right: 1vmin;
  top: 1vmin;
  padding: 3%;
  color: goldenrod;
  
}


.end-screen-win img {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%,40%);
  width: 40%;
  
}

.end-screen-lose img{
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%,40%);
  width: 100px;
  width: 40%;
 
}


.start-screen img{
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%,40%);
  width: 100px;
  width: 40%;
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 170%;
  bottom: -20%;
  left: calc(var(--left) * 1%)
}

.dino {
  --bottom: 200px;
  position: absolute;
  left: 20%;
  height: 20%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 15%;
  bottom: 13%;
}

.background{
  --left: ;
  position: absolute;
  height: 60%;
  bottom: 10%;
  left: calc(var(--left) * 1%)
}

#cloud{ 
  bottom: 55%;
  height: 350px;
}

#gameovergif{
  position: absolute;
  left: 37%;
  bottom: 50%;
  width: 24.5%;
}

#gamewingif{
  position: absolute;
  width: 6.5%;
  left: 36%;
  bottom: 50%;
}

footer{
  position: absolute;
  bottom: 0;
  right: 0;
  color: golden;
  font-family: 'kemko';
  font-size: 7px;
  opacity: 40%;
  padding: 0px 20px;
  margin: 0;

}



